@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Dangrek&display=swap');
ul{
    list-style-type: none;
    margin: 10px;
    margin-right: 50px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
h1{
    color: black;
    font-family: 'Dangrek', cursive;
    font-size: 45px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    line-height: 40px;
    letter-spacing: 10px;
} 
li {
    float: right;
    margin-right: 25px;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}
.footer{
    font-family: 'Dangrek', sans-serif;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    color: black;
}
body {
    background-color: white;
    margin: 0px;
    padding-bottom: 110px;
    text-align: center;
}
a {
    color: Black;
    font-family: Dangrek, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 26.4px;
    text-decoration: none;
    display: block;
    padding-top: 1px; 
    padding-left: 8px;
    padding-right: 5px;
}
a:hover{
    background-color: white;
    border-radius: 3px;  
}
svg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(221, 183, 171, 1);
  color: white;
  text-align: center;
  height: 75px;
}

/* ul.text-header{
    float: right;
} */
