@media(max-width: 975px){
    ul{
        margin-right: 5px;
    }
}

@media(max-width: 775px){
    ul{
        margin-right: 0px;
    }
}

@media(max-width: 514px){
    svg{
        visibility: hidden;
    }
    li{
        float:none;
    }
    ul{
        display: block;
    }
    div.header{
        display: block;
        position:fixed;
        background-color: rgba(221, 183, 171, 1);
        /* margin-bottom: 200px; */
        height: 100px;
        margin: 0px;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    h1{
        margin-top: 200px;
    }
}