@media(max-width: 565px) {
    div.header{
        margin-top: -27px;
        display: flex;
    }
}

@media(max-width: 441px) {
    div.header{
        margin-top: -54px;
    }
}

@media(max-width: 340px) {
    div.header{
        margin-top: -81px;
    }
}

@media(max-width: 265px) {
    svg{
        display: none;
    }
}